{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->

            
                    <div class="main-body">
                        <div class="page-wrapper">
                        <form action="{{ url_for('home_blueprint.results')}}"method="post">
                            <div class="col-sm-12 mb-4">
                                <div class="form-group">
                                    <label for="add">Company Name</label>
                                    <input type="username" class="form-control" id="add" name="company_name" aria-describedby="PremoneyHelp" placeholder="Enter Company Name">
                                    <small id="addd" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-4">
                                <div class="form-group">
                                    <label for="add">TAM (ex. input 5 for $5 billion)</label>
                                    <input type="username" class="form-control" id="add" name="tam" aria-describedby="PremoneyHelp" placeholder="Enter Total Addressable Market">
                                    <small id="addd" class="form-text text-muted">{{tam_text}}</small>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-4">
                                <div class="form-group">
                                    <label for="add">SAM (ex. input 500 for $500 million)</label>
                                    <input type="username" class="form-control" id="add" name="sam" aria-describedby="PremoneyHelp" placeholder="Serviceable Addressable Market">
                                    <small id="addd" class="form-text text-muted">{{sam_text}}</small>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-4">
                                <div class="form-group">
                                    <label for="add">SOM (ex. input 50 for $50 million)</label>
                                    <input type="username" class="form-control" id="add" name="som" aria-describedby="PremoneyHelp" placeholder="Enter Serviceable Obtainable Market">
                                    <small id="addd" class="form-text text-muted">{{som_text}}</small>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-4">
                                <div class="form-group">
                                    <label for="add">Round Size (ex. input 2 for a $2 million round)</label>
                                    <input type="number" class="form-control" id="add" name="round_size" aria-describedby="TAMHelp" placeholder="Enter Round Size">
                                    <small id="addd" class="form-text text-muted"> {{round_size}} </small>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-4">
                                <div class="form-group">
                                    <label for="add">Premoney Valuation (ex. input 5 for a $5 million premoney)</label>
                                    <input type="number" class="form-control" id="add" name="premoney" aria-describedby="SAMHelp" placeholder="Enter Premoney">
                                    <small id="addd" class="form-text text-muted"> {{pre_mon_val}} </small>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-4">
                                <div class="form-group">
                                    <label for="add">Sales Multiple</label>
                                    <input type="number" class="form-control" id="add" name="sales_multiple" aria-describedby="SAMHelp" placeholder="Enter Sales Multiple">
                                    <small id="addd" class="form-text text-muted"> {{sales_multiple}} </small>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-4">
                                <div class="form-group">
                                    <label for="add">Dilution Estimate (ex. input 50 for 50%)</label>
                                    <input type="number" class="form-control" id="add" name="user_dilution_estimate" min = "0" aria-describedby="SOMHelp" placeholder="Dilution Estimate">
                                    <small id="addd" class="form-text text-muted"> {{dilution_estimate}} </small>
                                </div>                            
                            

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="/login.html"></a>
                        </form>

                        
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Required Exit Value for a 40x Return</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$
                                                            {{ calculation_text40x }}</h3>
                                                </div>

                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ sam_pct40x_text }}% of SAM</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!--[ daily sales section ] end-->
                                <!--[ Monthly  sales section ] starts-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Serviceable Addressable Market (SAM)</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$
                                                        {{ sam_text }}</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ tam_pct_sam_text }}% of TAM</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme2" role="progressbar"
                                                        style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Monthly  sales section ] end-->
                                <!--[ year  sales section ] starts-->
                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Postmoney Valuation</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$
                                                            {{ user_post_mon_val }}</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ pct_40x_post_text }}% of SOM</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Sales Multiple Benchmark</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                                                            {{ sales_multiple_text }}</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0"></p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Required Annual Sales</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$
                                                            {{ required_sales_annual_sales_text1 }}</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ sam_pct40x_text }}% of SAM</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Round Size</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$
                                                            {{ user_post_mon_val }}</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ pct_40x_post_text }}% of SOM</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                

                                <!--[ year  sales section ] end-->
                                <!--[ Recent Users ] start-->
                                <!-- <div class="col-xl-8 col-md-6"> -->

                            <!-- <td style="height: inherit; border: 1px solid #000; width: 100px;"> -->
                                <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Required Exits Based On Return Multiples and Valuation</h5>
                                            <!-- <span class="d-block m-t-5">use class <code>table-hover</code> inside table element</span> -->
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Return Multiple</th>
                                                            <th>$5 Million Postmoney</th>                                                            
                                                            <th>User's Postmoney Valuation</th>
                                                            <th>$10 Million Postmoney</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">40x</th>
                                                            <td>{{ low_output_text40x }}</td>
                                                            <td>{{ calculation_text40x }}</td>
                                                            <td>{{ high_output_text40x }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">20x</th>
                                                            <td>{{ low_output_text20x }}</td>
                                                            <td>{{ calculation_text20x }}</td>
                                                            <td>{{ high_output_text20x }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">10x</th>
                                                            <td>{{ low_output_text10x }}</td>
                                                            <td>{{ calculation_text10x }}</td>
                                                            <td>{{ high_output_text10x }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">5x</th>
                                                            <td>{{ low_output_text5x }}</td>
                                                            <td>{{ calculation_text5x }}</td>
                                                            <td>{{ high_output_text5x }}</td>
                                                        </tr>                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Required Company Exit Values based on Valuation and MOIC</h5>
                                        </div>
                                        <div class="card-block">
                                            <div id="morris-bar-stacked-chart"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Donut Chart</h5>
                                        </div>
                                        <div class="card-block">
                                            <div id="morris-donut-chart" style="height:100px"></div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- [ Morris Chart ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>

                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->
    
                               
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- chart-morris Js -->
    <script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/pages/chart-morris-custom.js"></script>

{% endblock javascripts %}


